# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=instasupply
DB_USER=instasupply
DB_PASSWORD=instasupply123

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=csv-uploads
KAFKA_CLIENT_ID=instasupply-service
KAFKA_GROUP_ID=instasupply-consumer-group